<div id="div1">
    <h1 id="titulo">Actualizar Departamento</h1>
    @if(departamento){
    <form (ngSubmit)="modificarDepartamento()" #form="ngForm" style="width: 60%; margin: auto">
        <label class="form-label">ID:</label>
        <input class="form-control" name="cajaId" #cajaId defaultValue={{departamento.numero}} disabled />
        <label class="form-label">Nombre:</label>
        <input class="form-control" name="cajaNombre" #cajaNombre defaultValue={{departamento.nombre}}/>
        <label class="form-label">Localidad:</label>
        <input class="form-control" name="cajaLocalidad" #cajaLocalidad defaultValue={{departamento.localidad}} />
        <br />
        <button class="btn btn-success">Actualizar</button>
    </form>
    }
</div>
